
.item{
    display: inline-block;
    font-size: 1.2rem;
    padding: 4px 8px;

    border: 1px solid var(--golden);
    border-radius: 8px;
    background-color: var(--grey-blue);
    color: var(--bg-white);
    font-weight: bold;

    opacity: 0.8;
}